[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/charytecholution
[access "refs/for/refs/*"]
	read = group user/charytecholution
	push = group user/charytecholution
	label-Code-Review = -2..+2 group user/charytecholution
	label-Verified = -1..+1 group user/charytecholution
	rebase = group user/charytecholution
	removeReviewer = group user/charytecholution
	submit = group user/charytecholution
[access "refs/heads/*"]
	read = group user/charytecholution
	create = group user/charytecholution
	push = +force group user/charytecholution
	pushMerge = group user/charytecholution
[access "refs/tags/*"]
	push = group user/charytecholution
	push = +force group user/charytecholution
